<div style="text-align: center;">
<h1>Zain Ul Abideen</h1>
{{name}}
<label for="text">Enter you name </label>
<!-- parent compnoent input type  -->
<!-- <input type="text" #p (keyup)="0"> -->
<!-- <app-employee (childevent)="getdata($event)"></app-employee>
 <h1>value of child component:{{cdata}}</h1> -->

<!-- <button>Hi</button>  <button>zain</button>  <button>ul</button> <button>Abideen</button> -->
<!-- <app-student></app-student> -->
<p>This is employee component</p>
<!-- <app-employee [cdata]="p.value"> </app-employee> -->
 <!-- @if(login)
 {
     <b>User is login </b>
 } -->

<button (click)="logins()">Log in </button>
<button (click)="logout()">Log out </button>
<br>
<!-- @if (login) {
<b>user logined</b>
}
@if (!login) {
<b>user logout</b>
} -->
 
<!-- @if (login) {
    <b>user logined</b>
}
@else {
    <b>user logout</b> 
}
@if (age<10) {
    <b>child</b>
}
@else if (age>10 && age <24) {
    <b> young</b>
}
@else {
    <b>old</b>
} -->
<!-- @switch (name) {
    @case ("Zain") {
        <b>Hello , Zain</b>
    }
    @case ("Ali") {
        <b>Hello , Ali</b>
    }
    @case ("Ahmad") {
        <b>Hello , Ahmad</b>
    }
    @case ("Zaid") {
        <b>Hello , Zaid</b>
    }
    @default {
        <b>No username found </b>
    }
} -->
<!-- @for (emp of Employee; track emp.id) {
<ul>
    <li>
        ID = {{emp.id}} <br> name = {{emp.name}}
    </li>
</ul>
}@empty {
    <b>no data found </b>
} -->
<!-- <div [ngStyle]="{'background-color':myname=='Zain'?'red':'green'}">Ng Style</div> -->

<!-- <div *ngFor="let item of EmployeeCountry">
    <div [ngStyle]="{'background-color': getcolor(item.country)}">
        Name : {{item.name}}<br>
        Country : {{item.country}}<br>
    </div> -->
<!-- </div> -->
 <!-- <h2>ng Class with string</h2>
 <div [ngClass]="'one three'"]> Hello , Zain </div>

 <div *ngFor="let emp of Employee">
    <div [ngClass]="'one three'"]>
    name : {{emp.name}}<br>
    id :: {{emp.id}}<br> -->
<!-- </div>
 </div> -->
 <div [ngClass]="{'one':true,'three': true}">Hello Zain</div>
</div>
