<div style="text-align: center;">
<h1>Zain Ul Abideen</h1>
{{name}}
<label for="text">Enter you name </label>
<!-- parent compnoent input type  -->
<!-- <input type="text" #p (keyup)="0"> -->
<!-- <app-employee (childevent)="getdata($event)"></app-employee>
 <h1>value of child component:{{cdata}}</h1> -->

<!-- <button>Hi</button>  <button>zain</button>  <button>ul</button> <button>Abideen</button> -->
<!-- <app-student></app-student> -->
<p>This is employee component</p>
<!-- <app-employee [cdata]="p.value"> </app-employee> -->
 <!-- @if(login)
 {
     <b>User is login </b>
 } -->

<button (click)="logins()">Log in </button>
<button (click)="logout()">Log out </button>
<br>
<!-- @if (login) {
<b>user logined</b>
}
@if (!login) {
<b>user logout</b>
} -->
 
<!-- @if (login) {
    <b>user logined</b>
}
@else {
    <b>user logout</b> 
}
@if (age<10) {
    <b>child</b>
}
@else if (age>10 && age <24) {
    <b> young</b>
}
@else {
    <b>old</b>
} -->
<!-- @switch (name) {
    @case ("Zain") {
        <b>Hello , Zain</b>
    }
    @case ("Ali") {
        <b>Hello , Ali</b>
    }
    @case ("Ahmad") {
        <b>Hello , Ahmad</b>
    }
    @case ("Zaid") {
        <b>Hello , Zaid</b>
    }
    @default {
        <b>No username found </b>
    }
} -->
<!-- @for (emp of Employee; track emp.id) {
<ul>
    <li>
        ID = {{emp.id}} <br> name = {{emp.name}}
    </li>
</ul>
}@empty {
    <b>no data found </b>
} -->
<!-- <div [ngStyle]="{'background-color':myname=='Zain'?'red':'green'}">Ng Style</div> -->

<!-- <div *ngFor="let item of EmployeeCountry">
    <div [ngStyle]="{'background-color': getcolor(item.country)}">
        Name : {{item.name}}<br>
        Country : {{item.country}}<br>
    </div> -->
<!-- </div> -->
 <!-- <h2>ng Class with string</h2>
 <div [ngClass]="'one three'"]> Hello , Zain </div>

 <div *ngFor="let emp of Employee">
    <div [ngClass]="'one three'"]>
    name : {{emp.name}}<br>
    id :: {{emp.id}}<br> --> 
 <!-- </div> -->
 <!-- </div>  -->
 <!-- <div [ngClass]="{'one':true,'three': true}">Hello Zain</div> -->
  <!-- Error handling in Interpolation -->
   <!-- <h1>Employee</h1>
   country name : {{country.id}}
   country id :   {{country.name}}
   <br> -->
   <!-- <div *ngFor="let emp of Employee">
    <div [ngClass]="'one three'"]>
    name : {{emp && emp.name}}<br>
    id :: {{ emp && emp.id}}<br> 
 </div> -->
 <!-- <h1>Attribute binding</h1>
 <table border="1">
    <tr>
        <td [attr.colspan]="col">Employee name </td>
    </tr>
    <tr>
        <td>first name </td>
        <td>zain</td>
    </tr>
    <tr>
        <td>last name </td>
        <td>ul Abideen </td>
    </tr>

 </table> -->
 <!-- <button style="background-color: red;"> click me </button>
 <button [style.background-color]="color"> click me </button>
 <br>
 <button class="coolorclass"> Click me </button>
 <br> -->
 <!-- <button [class]="coolorclass" [class]="classtoapply"> Click me </button> -->
  <!-- property binding -->
   <!-- <span [innerHTML]="reg"></span>
   <br>
   <img [src] ="imagepath" alt="C#"> -->
<!-- <button (click)="enable()">Enabled/Disbaled</button>

   <h3>Interpolation</h3>
   <button disabled = "{{valuenow }}"> click me </button>
   <h3>property binding</h3>
   <button [disabled]="valuenow"> click me </button> -->

   <!-- <button (click)="click1()">Click 1 </button>

   <button on-click= "click1()">Click 2 </button>

   Enetr your name <input type="text" #textmsg (keyup)="sentmessage(textmsg.value)">

   <br>
   your name is :{{_message}} -->
<!-- 
   two way data binding -->
   <!-- Enter your message <input type="text" [(ngModel)] = "_message">
   <br>
   your  message is {{_message}} -->

   <!-- <h1>pipe line</h1>
   {{name}} <br>
   {{name | lowercase}} <br>
   {{name | uppercase}} <br>
   {{name | titlecase}} <br>
   <br>
   remeber space count  in slice 
   {{zain | slice :5}}
   <br>
   {{zain | slice :5:10}} <br>

 Name :  {{myinfo.Name}} <br>
   Age : {{myinfo.Age}} <br>
   <br>

   {{myinfo | json}}
   
   Decimal and perctage pipelines
   <br>
   {{30.1234535}} <br>
   {{30.1234535 | number}} <br>
   {{30.1234535 | number :'2.3-6'}} <br>

   <br>
   {{2.16 | percent}} <br>
   {{2.16 | percent :'2.2-2'}} <br>

   {{curr | currency}} <br>
   {{curr | currency :'INR'}} <br>
   {{curr | currency :'INR' : true :'3.2-5'}} <br>
   <br>
   <h1>{{currentdate}}</h1>
   <h1>{{currentdate | date}}</h1>
   <h1>{{currentdate | date:'shortDate'}}</h1>
   <h1>{{currentdate | date:'longDate'}}</h1>
   <h1>{{currentdate | date:'fullDate'}}</h1> -->

   <!-- <h1>paramertise pipelines</h1>

   <h1>{{zain | slice :2:3}}</h1>

   {{curr | currency :'INR'}} <br>
   chaning pipelines

   <h1>{{currentdate | date:'shortDate' | uppercase}}</h1> -->
   
    custom pipelines

   {{name | welcome}}

<!-- message is :{{data1}} -->

<app-comp1></app-comp1>
<app-comp2></app-comp2>

<br>
<app-zain1></app-zain1>
<br>
<app-zain2></app-zain2>

<br>

<app-templeteform></app-templeteform>

<br>

<div>
   <a  routerLink="Home"  routerLinkActive="active"> home</a> |
   <a  routerLink="About" routerLinkActive="active"> About us</a>|
   <a  routerLink="dashboard" routerLinkActive="active"> Dashboard</a>
   <a  routerLink="login" routerLinkActive="active"> login</a>
   
</div>


<router-outlet></router-outlet>


</div>