h1{
    background-color: blue;
}
.one{
    background-color: red;
    color: white;
}
.two 
{
    background-color: aqua;
    color:pink;
}
.three{
    background-color: yellow;
    color: black;
    font-weight: bold;
}
.coolorclass{
    background-color: greenyellow;
}
.boldclass{
    font-weight: bold;
}