<h1>Reactive Form Registration</h1>
<div>
    <form [formGroup]="regForm" (ngSubmit)="register(regForm)">
        <div>
            <label for="fname">First Name</label>
            <input id="fname" type="text" placeholder="First Name" formControlName="fname">
        </div>
        <div>
            <label for="lname">Last Name</label>
            <input id="lname" type="text" placeholder="Last Name" formControlName="lname">
        </div>
        <div>
            <label for="email">Email</label>
            <input id="email" type="email" placeholder="Email Address" formControlName="email">
        </div>
        <div>
            <label for="ph">Phone Number</label>
            <input id="ph" type="number" placeholder="Phone Number" formControlName="ph">
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
    </form>
</div>
