<h1>Reactive Form Registration</h1>
<div>
    <form [formGroup]="regForm" (ngSubmit)="register(regForm)">
        <div>
            <label for="fname">First Name</label>
            <input id="fname" type="text" placeholder="First Name" formControlName="fname">
            <div *ngIf="regForm.controls['fname'].touched && !regForm.controls['fname'].valid">
                First name is Required 
            </div>
        </div>
        <div>
            <label for="lname">Last Name</label>
            <input id="lname" type="text" placeholder="Last Name" formControlName="lname">
            <div *ngIf="regForm.controls['lname'].touched && !regForm.controls['lname'].valid">
                Last name is Required 
            </div>
        </div>
        <div>
            <label for="email">Email</label>
            <input id="email" type="email" placeholder="Email Address" formControlName="email">
            <div *ngIf="regForm.controls['email'].touched && !regForm.controls['email'].valid">
                <span *ngIf="regForm.controls['email'].hasError('required')"> 
                    Email is Required 
                </span>
                <span *ngIf="regForm.controls['email'].hasError('email')">
                    Email is not valid
                </span>
            </div>
        </div>
        <div formArrayName="phonenumber">
            <label for="ph">Phone Number</label>
            <div *ngFor="let phone of regForm.get('phonenumber').controls; let i = index">
                <input id="ph" type="number" placeholder="Phone Number" [formControlName]="i">
                <button (click)="deletbtn(i)">Delete</button>
                <div *ngIf="phone.touched && !phone.valid">
                    Phone number is Required 
                </div>
            </div>
            <button (click)="addmore()">Add more</button>
        </div>
        <div>
            <button type="submit">Register</button>
            <button type="reset"> Cancel</button>
            <button (click)="rest()"> Reset</button>
            <button (click)="setdata()"> Fill Data</button>
        </div>
    </form>
</div>
